.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.settings-button,
.player-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.scenario-buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.scenario-button {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-container {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.player-controls button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.info-text {
  color: gray;
  margin-bottom: 10px;
}

.scenario-config-block {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

.scenario-config-block label {
  display: block;
  margin-bottom: 5px;
}

.scenario-config-block input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.scenario-config-block .config-title {
  font-weight: bold;
}

.save-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
}

.save-button:hover {
  background-color: #45a049;
}
